  .cuerpo {
    background-color: hsl(220, 42%, 86%);

  }


  .contenedor {
    flex-direction: column;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 80%;
    width: 80%;
    background-color: hsl(186, 81%, 40%);
  }

  .presentacion {
    padding: 10%;

  }

  .nombre {
    margin-top: 30%;
  }

  .boton-inicio {

    margin: 20%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;

  }

  button {
    text-decoration: none;
    padding: 3%;
    padding-left: 10%;
    padding-right: 10%;
    font-family: helvetica;
    font-size: 100%;
    font-style: italic;
    color: black;
    background-color: #D9D9D9;
    border-radius: 20%;
    border: 3% double #D9D9D9;
    height: 80%;
    width: 80%;
  }

  .seleccion-categoria,
  .categoria,
  .nombre {

    margin-right: 20%;
    margin-left: 20%;
    background-color: #D9D9D9;
  }

  #boton-hover {
    background-color: chartreuse;
  }