#boton-hover{
  background-color: chartreuse;
}

#botoninicio {
  display: flex;
  justify-content: center !important;
  margin: 20%;
}

#usuario {
  border-top-right-radius: 25% !important;

}
body {
  justify-content: center !important;

}
#card, #contenedor {
  justify-content: center !important;
}
