.contenedorInicio {
  background-color: #E79110;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

}

#botoninicio {
  background-color: #00ADA3;
  border-color: #00ADA3;
}

#botoninicio:hover {
  background-color: rgba(77, 77, 182, 0.932);
  border-color: rgba(77, 77, 182, 0.932);
}

@media (min-width: 400px){
  .contenedorPrincipal{
      display: flex;
      flex-direction: column;
      align-items: center;
  justify-content: center;
  }
 
  .contecontenedorInicionido {
      width: 100%;
  }
}